################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyNewWebApi/.vs/MyNewWebAPi/v15/Server/sqlite3
/unit-testing-using-dotnet-test
/MyNewWebApi
/Курсы/cred.txt
/MVC/bin/Debug/netcoreapp2.0
/MVC/.vs/MVC/v15/Server/sqlite3
